<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T&C</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./down.css">
</head>
<body>

    <div class="long">
         
        




        <div class="parent">
        <div><img src="./original/vect_.png" alt=""></div>
        </div>
    
    <div class="head">
        <div><h1>We've sent you an email</h1></div>
    </div>
    
    <div class="reset">
        <div><p>Your password reset was successful</p></div>
    </div>
    <div class="but">
        <div class="but1"><button>Login</button></div>
    </div>
    
    
    


    </div>



</body>
</html>