<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download format</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- BOOTSTRAP with CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body class="d-flex flex-nowrap">
    <nav class="d-flex flex-column flex-shrink-0 p-3 text-bg-primary" style="width: 250px; height: 100vh;">

        <h1 class="fs-2 align-content-center">Terms<span id="logo-hub" class="text-black">Hub</span></h1>

        <a href="#" class="d-flex align-self-center">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        </a>
        <ul class="nav nav-pills flex-column mb-auto align-content-center">
            <li class="nav-item">
                <a href="#" class="nav-link active " aria-current="page">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    Business Profile
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    Contact a Lawyer
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    Blog
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    History
                </a>
            </li>
        </ul>
    </nav>

    <div class="d-flex flex-column flex-shrink-0">
        <div> 
            <h2 class="text-center">ENTER DETAILS TO GENERATE TERMS AND CONDITIONS</h2>
        </div>

        <div class="d-flex flex-column flex-shrink-0">
        <p><small>Select Platform &#129042; Business Information &#129042; Additional Information &#129042; Choose download format</small></p>
        </div>

        <div class="form">
            <form action="#" method="post">
            <label for="floatingSelect">1. Select Download format</label>
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>docx</option>
              <option value="1">Pdf</option>
              <option value="2">Txt</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="email">2. Enter your email address to recieve terms and conditions</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
        </form>
    </div>
    
</body>

</html>