<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Download Page</title>
    <link href="download.css" rel="stylesheet" type="text/css"/>
    <link rel="font" href="https://www.1001fonts.com/roboto-font.html"/>
  </head>

  <body>
    <nav class="nav">
      <span><h1 class="navh1">TermsHub</h1></span>
      <span><button class="upgrade">
          <img src="icons8-crown-20.png" alt="upgrade" class="crown"/>
          Upgrade Now
        </button></span>
    </nav>

<main>
  <div class="main-container">
    <div class="side-panel">
       <h2 class="terms">Terms<span class="hub">Hub</span></h2>
        <img src="frame-6502.png" alt="potrait" class="potrait"/>
        <p class="dashboard"><a href="" class="sp-link">Dashboard</a></p>
        <p class="sp-text"><a href="" class="sp-link">Business Profile</a></p>
        <p class="sp-text"><a href="" class="sp-link">Contact a Lawyer</a></p>
        <p class="sp-text"><a href="" class="sp-link">Blog</a></p>
        <p class="sp-text"><a href="" class="sp-link">History</a></p>
        <p class="sp-logout"><a href="" class="sp-link">Logout</a><img src="icon-logout.png" alt="" class="logout-icon"/></p>
   </div>

   <div class="body-text">
     <div class="heading">
      <div class="heading-text">
        <p class="history">History</p>
        <p class="subheading"><a href="" class="sh-link">Terms & Condition</a></p>
        <p class="subheading"><a href="" class="sh-link">Privacy Policies</a></p>
        <p class="subheading"><a href="" class="sh-link">Contact a Lawyer</a></p>
       </div>
       <div class="heading-button">
         <button class="add-website"><img src="icon-tag.png" alt="htmltag" class="tag-icon"/>ADD WEBSITE</button>
       </div>
     </div>

     <div>
        <button class="create-new"><img src="icon-plus.png" alt="" class="create-icon"/>CREATE NEW</button>
     </div>

   <div class="container">
     <div class="document">
        <img src="T&C-text.png" alt="T&C" class="tnC-text"/>
     </div>

     <div class="action">
       <div class="content">
         <h4><img src="icon-edit.png" alt="Edit" class="edit-icon"/><a href="" class="edit">Edit</a></h4><br />
         <p class="update">Updated 30 mins ago</p><br />
         <p>Preview</p><br />
         <p><img src="icon-download.png" alt="Download" class="download-icon"/><a href="" class="action-link">Download PDF</a></p><br />
         <p><img src="icon-download.png" alt="Download" class="download-icon"/><a href="" class="action-link">Download DOCX</a></p><br />
         <p><img src="icon-web.png" alt="htmltag" class="webtag-icon"/><a href="" class="action-link">Website Embed</a></p><br />
         <p><img src="icon-export.png" alt="Export" class="export-icon"/><a href="" class="action-link">Export</a></p><br />
         <p><img src="icon-share.png" alt="share" class="share-icon"/><a href="" class="action-link">Share</a></p><br />
         <p><img src="vector-save&continue.png" alt="save-&-continue" class="save-con"/><a href="" class="action-link1">Save & Continue</a></p><br />
       </div>
      </div>
     </div>

     <div>
         <a href=""><img src="vector-help.png" alt="help" class="help"/></a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
