<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T&C</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./forgot.css">
</head>
<body>
<div class="parent">
    <div class="head">
     <div class="heada">
        <img src="./original/bros.png" alt="">
     </div>
    </div>








<div class="forgot1">
    <h1>Forgot Password?</h1>
</div>
<div class="forgot2">
   <p>Enter your registered email address to reset your password </p> 
</div>

<div class="forgot3">
    
    <div class="forgot3b"> <label for="">Email Address</label><br>  <input type="text" name="" id="" placeholder="Michaeljoe@mail.com"> <br> </div>
</div>
<div class="forgot4">
    <button>Submit</button>
</div>

</div>
</body>
</html>