<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T&C</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./forgot.css">
    <link rel="stylesheet" href="./got.css">
</head>
<body>
    <div class="parent">
<div class="head">
    <div class="heada"><img src="./original/bros.png" alt=""></div>
</div>
<div class="headb">
    <div class="headb1"><h1>Forgot Password</h1></div>
</div>
<div class="headc">
    <div class="headc1"><p>Enter your registered email address to reset your password</p></div>
</div>

<div class="forgot3">
    <div class="forgot3b"> <label for="">Email Address</label><br>  <input type="text" name="" id="" placeholder="Michaeljoe@mail.com"> <br> </div>
</div>

<div class="password">
    <div class="password2">  <label for="name">Password</label> <br>
    <input type="text" name="" id="text1" placeholder="password"></div>
</div>




<div class="pass">
    <div class="pass2">  <label for="name">Confirm Password</label> <br>
    <input type="text" name="" id="text1" placeholder="Michael Joe"></div>
</div>

<div class="btn">
    <div class="btn2"><button>Submit</button></div>
</div>




</div>
</body>
</html>