{% extends 'blog/base.html' %} 
{% load static %} 
{% block link %}
<link rel="stylesheet" href="{% static 'tc_gen/tandc.css' %}" />
{% endblock %} 
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 tandc2">
  <h2>Enter Details To Generate Terms and Conditions</h2>

  <div class="arrows">
    <div class="arrow1">
      <p>
        Select Form
        <img src="{% static 'blog/img/Icon.png' %}" alt="" />
      </p>
    </div>
    <div class="arrow3">
      <p>
        Business Information
        <img src="{% static 'blog/img/Icon.png' %}" alt="" />
      </p>
    </div>
    <div class="arrow5">
      <p>
        Additional information
        <img src="{% static 'blog/img/Icon.png' %}" alt="" />
      </p>
    </div>
    <div class="arrow7">
      <p>Choose Download <br />Format And <br />Generate</p>
    </div>
  </div>
  <div class="where">
    <h2>Where will Your Terms and Condition be used?</h2>
    <p>Select the Website option or the App option or both.</p>

    <div class="select">
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="selectable">
          <img src="{% static 'blog/icons/Web.svg' %}" alt="Web" />
          <p>Website</p>
          <p>Select For Website</p>
        </div>
        <div class="selectable">
          <img src="{% static 'blog/icons/Workstation.svg' %}" alt="Web" />
          <p>App</p>
          <p>Select For App</p>
        </div>
      </div>

      <p><a href="{% url 'tc_gen:questions' %}" class="start">Next</a></p>
    </div>
  </div>
</main>
{%endblock%} 
{%block script %}
<script>
  var select = document.getElementsByClassName("select");
  var selectval = document.getElementsByClassName("val");
  let selectItems = document.querySelectorAll(".selectable");
  let selected = "";

  selectItems[0].addEventListener("click", () => {
    selected = "web";
    selectval.value = "web";
    if (selectItems[1].classList[1] == "selected") {
      selectItems[1].classList.remove("selected");
      selected = "web";
      selectval.value = "web";
    }
    selectItems[0].classList.toggle("selected");
    if (selectItems[0].classList[1] != "selected") {
      selected = "";
      selectval.value = "";
      selectval.innerHtml = "";
    }
    localStorage.setItem("selected", selected);
  });
  selectItems[1].addEventListener("click", () => {
    selected = "app";
    selectval.value = "app";
    if (selectItems[0].classList[1] == "selected") {
      selectItems[0].classList.remove("selected");
      selected = "app";
      selectval.value = "app";
    }
    selectItems[1].classList.toggle("selected");
    if (selectItems[1].classList[1] != "selected") {
      selected = "";
      selectval.value = "";
    }
    localStorage.setItem("selected", selected);
  });
</script>
{% endblock%}
