<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your document is ready, you can now preview it</h1>
    <div style="text-align: center; width:30%; height:30%; border:3px solid rgb(104, 236, 104); text-align:justify">
        <h1>Terms and Conditions</h1>
        <p>
            My name is {{name}}. My email is {{email}}. These are my terms and conditions for my site
            ({{site}}).
        </p>
    </div>

    <a href="{% url 'tc_gen:tc-download'%}">Click to Download</a>
</body>
</html>