<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <link rel="stylesheet" href="edit.css">
    <link rel="font" href="https://www.1001fonts.com/roboto-font.html"/>
</head>
<body>
    <nav class="nav">
      <span><h1 class="navh1">Terms<span class="hub">Hub</span></h1></span>
      <div class="nav-div">
      <span><a href="" class="link">Service</a></span>
      <span><a href="" class="link">About us</a></span>
      <span><a href="" class="link">Review</a></span>
      <span><a href="" class="link">Contact us</a></span>
      <span><button class="login">LOGIN</button></span>
      </div>
        </nav>
    <main>
        <div class="info-flow">
            <span class="add-biz"><a href="" class="flow-link">Add your Business</a></span>
            <span class="flow"><img src="arrow icon.png" alt="arrow"></span>
            <span class="flow"><a href="" class="flow-link">Additional Information</a></span>
            <span class="flow"><img src="arrow icon.png" alt="arrow"></span>
            <span class="flow"><a href="" class="flow-link">Security Details</a></span>
            <span class="flow"><img src="arrow icon.png" alt="arrow"></span>
            <span class="flow"><a href="" class="flow-link">Save Edit</a></span>
            
        </div>
        <div class="heading">
            <div class="about">
        <h3>About your business <br> Platform</h3>
            </div>
            <div class="type">
                <p class="biz">Are you a Business or an Individual?<span class="astericks">*</span></p>
                <input type="radio" name="individual" id="individual">
                <label for="individual" class="indiv-label">Individual</label><br><br>
                <input type="radio" name="business" id="business">
                <label for="business" class="bizlabel">Business</label><br>
                
            </div>
        </div>
        <input type="checkbox" name="website" id="website">
            <label for="website" class="websitelabel">Website</label><br>
            <form action="">
            <label for="websiteurl" class="url">Website Url<span class="astericks">*</span></label><br>
            <i class="Icon.png"></i>
            <input type="url" name="websiteurl" placeholder="Termshub.com" class="url" required><br><br>
            <label for="websitename" class="site">Website Name<span class="astericks">*</span></label><br>
            <i class="Icon - man.png"></i>
            <input type="text" name="websitename" placeholder="Termshub.com" class="site" required><br>
            </form>
            
            <input type="checkbox" name="app" id="app">
            <label for="app" class="applabel">App</label><br>
            
            <div class="container">
                <span>
                <div class="confirmation">
                    <p class="countryheading">Your Country</p><br>
                    <input type="text" name="country" placeholder="Turkey" class="country" required>
                </div>
                </span>
                <span>
                    <div class="policy">
                       <p class="policy-date">Policy Effective Date<span class="astericks">*</span></p> 
                      <input type="date" name="date" placeholder="07 29 2022" class="date" required> 
                        <p class="policy-text">An effective date refers to the exact date and time your <br> Terms and Conditions will become active</p><br>
                        <button class="continue">CONTINUE <img src="icon-arrow.png" alt="continue" class="arrow-icon"> </button>
                    </div>
                </span>
            </div>

            <div class="footer">
              <!-- <img src="Vector 2 - footer.png" alt="footer" class="footer-img"> -->
                <div class="footer-container">
                    <span>
                        <div>
                            <p class="footer-heading">TermsHub</p>
                            <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eius quas molestias quo repellendus totam impedit officia obcaecati, beatae voluptate necessitatibus asperiores quibusdam dicta  
                                exercitationem consequatur assumenda alias nisi ut.</p>
                        </div>
                    </span>
                    <span>
                        <ul>
                           <li><a href="" class="footerlink1">Service</a></li>
                            <li><a href="" class="footerlink1">About us</a></li>
                            <li><a href="" class="footerlink1">Contact us</a></li>
                        </ul>
                    </span>
                    <span>
                        <ul>
                            <li><a href="" class="footerlink2">Resources</a></li>
                            <li><a href="" class="footerlink2">Blog</a></li>
                            <li><a href="" class="footerlink2">FAQ</a></li>
                        </ul>
                    </span>
                </div>
            
            </div>
    </main>
</body>
</html>