{% extends 'blog/base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{%static 'tc_gen/tandc.css' %}" />
{% endblock %} {% block links%}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'contact_dashboard' %}"> Contact a lawyer </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'profile' %}"> Business Profile </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'history' %}"> History </a>
</li>
{% endblock %} {% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 t_c_Container">
  <div class="tcCont">
    <h2>Generate Free Privacy Policy For Your Company</h2>
    <img src="{% static 'blog/img/tandc.svg' %}" alt="" />
  </div>

  <div class="row row-cols-1 row-cols-lg-2 tandc">
    <div>
      <h5>How To Generate Privacy Policies</h5>
      <p>
        Our Privacy Policy Generator will help you create a custom policy that
        you can use on your website, Android & iOS app, SaaS, Facebook and more.
        Comply with laws like the GDPR, CCPA and CalOPPA. Just follow these few
        easy steps:
      </p>
    </div>
    <div>
      <h5>Instructions on how to generate Privacy Policy</h5>
      <ul>
        <li>Step 1: Select the Website option or the App option or both</li>
        <li>Step 2: Answer some questions about your website or app</li>
        <li>Step 3: Answer some questions about your business</li>
        <li>
          Step 4: Enter the email address where you'd like the T&C delivered and
          click "Generate."
        </li>
      </ul>
      <p>
        <a href="{% url 'pp_gen:privacy' %}" class="start">Start</a>
      </p>
    </div>
  </div>
</main>
{% endblock %}
