










*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    height: 100vh;
width: 100vw;
    background-color: white;
    background-image: url(./original/union.png), url(./original/Vec.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 10%; 
    font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Roboto', sans-serif;
}

/*       .long{
    height: 600px;
    width: 600pxpx;
    background: rgb(239, 234, 234);
    margin: auto auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    background-image: url(./original/union.png), url(./original/Vec.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 10%;
}

*/


















.parent{
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}
.head{
    text-align: center;
    
   padding: 1rem;
}
.reset{
    padding: 1rem;
    text-align: center;
    font-size: 22px;
}
.but{
    text-align: center;
    
}
.but1 button{
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: blue;
    color: white;
}
@media screen and (max-width:300px) {
    body{
        height: 300px;
        width: 200px;
        height: 100vh;
        width: 100vw;
    }
       
    .but1 button{
        width: 200px;
        height: 30px;
        border: none;
        border-radius: 5px;
        padding: 0.5rem;
        background-color: blue;
        color: white;
    }
    
    }
    
    


@media screen and (max-width:600px) {
body{
    height: 600px;
    width: 400px;
    height: 100vh;
    width: 100vw;
}
.but1 button{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: blue;
    color: white;
}
    

}

@media screen and (max-width:786px) {
    body{
        height: 600px;
        width: 400px;
        height: 100vh;
        width: 100vw;
    }
    .but1 button{
        width: 200px;
        height: 30px;
        border: none;
        border-radius: 5px;
        padding: 0.5rem;
        background-color: blue;
        color: white;
    }
        
    
    }
    
    
    
