{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T&C</title>
    <link rel="stylesheet" href="{%static 'accounts/forgot.css' %}" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="parent">
      <div class="head">
        <div class="heada">
          <img src="{% static 'accounts/img/bros.png' %}" alt="" />
        </div>
      </div>

      <div class="forgot1">
        <h1>Forgot Password?</h1>
      </div>
      <div class="forgot2">
        <p>Enter your registered email address to reset your password</p>
      </div>
     <form method="post"> 
      <div class="forgot3">
        <div class="forgot3b">
          {% csrf_token %}
          <label for="email">Email address</label><br />
          <input type="text" name="email" id="" placeholder="Michaeljoe@mail.com" required />
          <br />
        </div>
      </div>
      <div class="forgot4">
        <button type = "submit">Reset Password</button>
      </div>
      </form>
    </div>
  </body>
</html>
