
{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T&C</title>
    <link rel="stylesheet" href="{% static 'accounts/down.css' %}" />
  </head>
  <body>
    <div class="long">
      <div class="parent">
        <div><img src="{% static 'accounts/img/vect_.png' %}" alt="" /></div>
      </div>

      <div class="head">
        <div><h1>We've sent you an email</h1></div>
      </div>

      <div class="reset">
        <div><p>Your password reset was successful</p></div>
      </div>
      <div class="but">
        <a class="but1">Back to Login page</a>
      </div>
    </div>
  </body>
</html>
