{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <section>
        <div class="container px-4">
            <h1>Reset Password</h1>
            <div class="row gx-4 justify-content-center">
                <div class="col-md-4">
                    <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
    
                        <div class="mt-3">
                            <input type="submit" value="Request Password Reset">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>    
</body>
</html>
