{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content%}
<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" value="Sign Up">
                </form>
                <small>Already Have an Account? <a href="#">Sign In</a></small>
            </div>
        </div>
    </div>
</section>

{% endblock %}
