{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T&C</title>
    <link rel="stylesheet" href="{% static 'accounts/email.css' %}">
</head>
<body>
<div class="parent">
     <div class="email">
        <div class="email1"><img src="{% static 'accounts/img/vect__2_.png' %}" alt="vec 1"></div>
     </div>
     <div class="emailb">
        <div class="emailb1"><p> <b>We've sent you an email</b> </p></div>
     </div>
     <div class="emailc">
        <div class="emailc1"><p>Check your email and follow instructions to reset pasword</p></div>
     </div>
     <div class="emaild">
        <a href="" class="emaild1">Back to Login page</a>
     </div>


     <div class="img"></div>
     <div class="img2"></div>






</div> 
</body>
</html>