html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.navbar-brand {
  color: black;
  font-size: 32px;
  font-weight: 400;
}
.navbar-brand span {
  color: #0a59f8;
}
@media screen and (max-width: 760px) {
  nav {
    background: #0a59f8 !important;
  }
  .navbar-brand span {
    color: white;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 16px;
  }
}
@media (min-width: 900px) {
  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 22px;
  }
}

@media (min-width: 769px) {
  .navbar-nav {
    position: relative;
    left: 5%;
  }
}
@media (min-width: 1105px) {
  .navbar-nav {
    position: relative;
    left: 15%;
  }
}
@media (min-width: 1398px) {
  .navbar-nav {
    position: relative;
    left: 25%;
  }
}
.white {
  color: white !important;
}
.nav-item {
  font-size: 20px;
  margin: 10px 10px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: 0.5s;
  width: fit-content;
  margin: 0px auto;
  color: rgba(66, 65, 65, 0.815) !important;
}

.active {
  color: rgb(255, 255, 255) !important;
}

nav ul li a::before {
  content: "";
  width: 0%;
  background: #333333;
  height: 2px;
  position: absolute;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5%;
}
nav ul li a:hover::before {
  width: 100%;
}

.login {
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.8),
    hsla(0, 0%, 100%, 0.8),
    hsla(0, 0%, 100%, 0.8),
    hsla(0, 0%, 100%, 0.8),
    #a6e5b8,
    #a6e5b8
  );
  background-size: 200%;
  background-position: 0% 0%;
  border-radius: 8px;
  height: fit-content;
  transition: 0.4s;
  margin-bottom: 0%;
}
.login:hover {
  transform: translateY(-1px);
  box-shadow: 0px 0px 10px rgb(63, 61, 61);
  background-position: 100% 100%;
}
.login a {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #0a59f8 !important;
}
.login a::before {
  content: "";
  display: none;
}
@media screen and (min-width: 1000px) {
  .login {
    margin-left: 100px;
  }
}

@media screen and (min-width: 800px) {
  .login {
    margin-left: 30px;
  }
}

.top-nav {
  width: 100%;
  padding: 10px 30px;
  justify-content: space-between;
}
.topnav {
  background: #0a59f8 !important;
  background-color: #0a59f8;
  transition: 0.5s;
  box-shadow: 10px 0px 10px #c6c7c6;
}
.navinfo {
  justify-content: space-between;
}
.header {
  width: 100%;
  margin: auto;
  background-image: url(../img/headerimg.png);
  background-color: #edf0f3;
  background-position: 100% 0%;
  background-size: 600px !important;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.headerImg {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .navinfo {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-size: 730px !important;
  }
}
@media screen and (max-width: 500px) {
  .headerimg {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .header {
    background-image: url("");
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1700px;
  }
}
.header h1 {
  font-size: 38px;
  line-height: 52px !important;
  width: 100%;
  margin-right: 0px !important;
  margin-bottom: 50px;
}
.header .row {
  justify-content: space-between;
}
.lead {
  font-size: 16px;
  line-height: 22px !important;
}
p {
  font-size: 16px;
  line-height: 22px !important;
}
/*  */
@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 42px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .header h1 {
    font-size: 32px;
    width: 100%;
    text-align: center;
  }
}

/*  */
.how-it-works {
  padding: 5vh 0px;
}
.how-it-works h4 {
  margin-top: 20px;
}
.howhead {
  width: fit-content;
  margin: 10px auto;
}
.howtext {
  color: #787d77cc;
  width: fit-content;
  margin: 10px auto;
}

.howtext > a {
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 700;
  padding: 16px 32px;
  background-image: linear-gradient(
    45deg,
    #0a59f8,
    #0a59f8,
    #0a59f8,
    #a6e5b8,
    #a6e5b8
  );
  background-size: 200%;
  background-position: 0% 0%;
  border-radius: 8px;
  text-align: end;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  transition: 0.5s;
  margin: 10px auto;
  overflow: hidden;
}

.howtext > a:hover {
  transform: translateY(-1px);
  box-shadow: 0px 0px 10px rgb(63, 61, 61);
  background-position: 90% 100%;
}

.headerbutton {
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  margin-top: 40px;
  background-image: linear-gradient(
    45deg,
    #0a59f8,
    #0a59f8,
    #0a59f8,
    #a6e5b8,
    #a6e5b8
  );
  text-transform: uppercase;
  background-size: 200%;
  background-position: 0% 0%;
  border-radius: 10px;
  color: white;
  display: inline-block;
  transition: 0.5s;
}

.headerbutton:hover {
  transform: translateY(-1px);
  box-shadow: 0px 0px 10px rgb(63, 61, 61);
  background-position: 100% 100%;
}
.feature {
  text-align: center;
}

.how-it-works img {
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.how-it-works .row > div {
  text-align: center;
  padding: 10px 20px;
}
.how-it-works .row {
  justify-content: space-between;
  margin: 5vh 0pc;
}

/*  */
.benefits {
  background: #edf0f3;
  padding: 5vh 0px;
}
.benefit {
  position: relative;
  margin: 10px 0px;
  box-sizing: border-box;
  align-items: center;
}

.benefits .row {
  justify-content: center;
  margin: 1vh 0px;
}
.benefits .row > div {
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  padding: 5vh 1vh;
}

.benefit .benefitsText {
  margin-left: 20px;
}

@media screen and (min-width: 770px) {
  .benefits .row > div {
    width: 46%;
    margin: 2% 0px;
  }
}
@media screen and (max-width: 400px) {
  .benefit .benefitsText {
    margin-left: 0px;
  }
  .benefit p {
    width: 100% !important;
  }
}

.benefit .howtext > a {
  margin-top: 2vh;
}

.benefiticon {
  /* width: 60%; */
  background: #0a59f8;
  border-radius: 50%;
  /* height: 90%; */
  position: relative;
  margin: 0px 10px;
}
.benefiticon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}


@media screen and (max-width: 767px) {
  .benefiticon {
    width: 20%;
    height: 90px;
  }
}
@media screen and (min-width: 375px) {
  .benefiticon {
    width: 90%;
    height: 100px;
  }
}
@media screen and (min-width: 450px) {
  .benefiticon {
    width: 223px;
    height: 97px;
  }
}

@media screen and (max-width: 375px) {
  .benefiticon {
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 325px) {
  .benefiticon {
    width: 100%;
    height: 70px;
  }
}

@media screen and (min-width: 770px) {
  .benefiticon {
    width: 100%;
    height: 90px;
  }
}


@media screen and (max-width: 780px) {
  .howhead {
    text-align: center;
  }
}

@media screen and (min-width: 975px) {
  .benefiticon {
    width: 200px;
    height: 90px;
  }
  .benefit {
    position: relative;
    padding: 20px 40px 0px 0px;
    box-sizing: border-box;
    align-items: center;
  }
}
@media screen and (min-width: 1300px) {
  .benefiticon {
    width: 180px;
    height: 120px;
  }
}

@media screen and (min-width: 1000px) {
  .benefit {
    position: relative;
    padding: 20px 80px 0px 0px;
    box-sizing: border-box;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .benefit {
    position: relative;
    padding: 20px 80px 0px 0px;
    box-sizing: border-box;
    align-items: center;
  }
}

.benefit p {
  width: 80%;
  line-height: 30px;
}

/* This is for blog recommendations */
.link {
  width: 100%;
  height: 30%;
  margin: 10px 0px 0px 0px;
}
.start {
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  padding: 10px 20px;
  padding-right: 30px;
  background-image: linear-gradient(
    45deg,
    #787d77,
    #787d77,
    #787d77,
    rgb(53, 53, 53),
    black
  );
  background-size: 200%;
  background-position: 0% 0%;
  border-radius: 20px;
  text-align: end;
  font-weight: 100;
  color: white;
  display: inline-block;
  transition: 0.5s;
  overflow: hidden;
}

.start::before {
  content: "";
  position: absolute;
  height: 50%;
  background-image: url(../icons/chevron-right.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 25px;
  width: 20%;
  right: 0pc;
}
.start {
  color: white;
}
.start:hover {
  transform: translateY(-1px);
  box-shadow: 0px 0px 10px rgb(63, 61, 61);
  background-position: 100% 100%;
}

/* This is for view more button */
.viewmore {
  margin: auto;
  text-transform: uppercase;
  width: fit-content;
  position: relative;
}
.viewmore::before {
  content: "";
  transition: 0.5s;
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0%;
  bottom: -1%;
  background: #333333;
}
.viewmore:hover::before {
  width: 100%;
}
.viewmore a {
  color: #787d77;
  text-decoration: none;
  font-weight: 500;
}

/* This is the customer section */
.customer {
  padding: 5vh 0px;
}

.customer .row {
  justify-content: space-between;
}

.customer .row > div {
  box-sizing: border-box;
  padding: 50px 10px 70px;
  border-radius: 8px;
  background: #a6e5b8;
}

.customer .row > div .benefiticon {
  height: 40%;
  width: 30%;
  background: url(../img/customer.png);
  background-size: cover;
}
.customer .row > div .benefitsText {
  width: 70%;
  font-size: 20px;
  margin-left: 10px;
  color: white;
}

/* This is for the testimonial icon of user */
@media screen and (max-width: 325px) {
  .customer .row > div .benefiticon {
    width: 40%;
    height: 100px;
  }
}

@media screen and (min-width: 975px) {
  .customer .row > div .benefiticon {
    width: 170px;
    height: 100px;
  }
}

@media screen and (min-width: 1000px) {
  .customer .row > div .benefiticon {
    width: 170px;
    height: 150px;
  }
}

@media screen and (max-width: 765px) {
  .customer .row > div .benefiticon {
    width: 170px;
    height: 150px;
  }
}
@media screen and (min-width: 765px) {
  .customer .row > div {
    width: 32.5%;
  }
}

.footer {
  background: url("../img/footer.png") no-repeat;
  background-size: cover;
  color: white;
  padding-top: 40vh;
}

.footerul .nav-link {
  color: white !important;
}

@media screen and (max-width: 430px) {
  .footer{
    background: #0a59f8;
    padding-top: 20vh;
  }
}